<%= form_with model: @user, local: true, url: yield(:url) do |f| %>
  <%= render "shared/error_messages", object: @user %>
  <%= f.label :name, t(".name") %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, t(".email") %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password, t(".password") %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, t(".password_confirm") %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.label :gender, t(".gender") %>
  <div class="form-control">
    <%= f.select :gender, [[t(".male"), "male"], [t(".female"), "female"]] %>
  </div>

  <%= f.label :date_of_birth, t(".date_of_birth") %>
  <%= f.date_field :date_of_birth, class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
